In [1]:
import pickle as pckl
import numpy as np
import pandas as pd

# personal function scripts
import windowing_function # only used if windowing hasn't been done
import tokenize_reviews
#import plot_reviews

In [2]:
df = pckl.load(open('ARK_7day_window_df.pckl','rb'))

In [3]:
df.head()

,review,upvoted,comment_upvotes,comment_funny_votes,early_review,time_of_review,minutes_played,playtime_2weeks,last_played,games_owned,author_reviews,purchased,free,upvotes,total_votes,percent_upvotes,time_of_review_unix
0,"Its really good, only down side is you cant fo...",True,100,203,True,2015-06-02 22:29:25,4578,0,2016-11-30 23:31:47,760,4,False,False,1,1,1.0,1.433284e+09
1,This game manages to make you feel all sorts o...,True,744,44,True,2015-06-02 22:30:07,28946,0,2016-07-02 22:22:02,370,9,False,False,2,2,1.0,1.433284e+09
2,LOVE THIS !!!!,True,74,13,True,2015-06-02 22:31:01,82165,0,2018-12-16 00:37:03,134,1,False,False,3,3,1.0,1.433284e+09
3,At the point of this recommendation being made...,True,58,17,True,2015-06-02 22:35:36,664,0,2017-06-16 02:07:50,396,11,False,False,4,4,1.0,1.433285e+09
4,"""Since *that game we all know of"" vanished the...",True,346,20,True,2015-06-02 22:36:41,43151,0,2016-06-17 09:25:14,634,82,False,False,5,5,1.0,1.433285e+09

In [3]:
params = {'game': 'ARK',
          'window_days': 7,
          'save_df': True,
          'shift': 1}
params['save_df']

True

In [5]:
#windowed_df = windowing_function2.window_df(df, game, window_days, save_df, shift)
windowed_df = windowing_function.window_df(df, params)

In [8]:
windowed_df.head()

,time_of_review,review,upvoted,time_of_review_unix,minutes_played,upvotes_window,total_window,percent_window,norm_deriv
0,2015-06-02 22:29:25,"Its really good, only down side is you cant fo...",True,1.433284e+09,4578,1,1,1.0,0.0
1,2015-06-02 22:30:07,This game manages to make you feel all sorts o...,True,1.433284e+09,28946,2,2,1.0,0.0
2,2015-06-02 22:31:01,LOVE THIS !!!!,True,1.433284e+09,82165,3,3,1.0,0.0
3,2015-06-02 22:35:36,At the point of this recommendation being made...,True,1.433285e+09,664,4,4,1.0,0.0
4,2015-06-02 22:36:41,"""Since *that game we all know of"" vanished the...",True,1.433285e+09,43151,5,5,1.0,0.0

In [4]:
tokenized_df = tokenize_reviews.clean_and_tokenize(df, params)

In [ ]:
num_features = 1
num_topics = 5

In [5]:
vectorizer = TfidfVectorizer(stop_words='english', 
                             max_features=num_features,
                             ngram_range=(1,2), 
                             max_df=0.9, min_df=3)

# use NMF model with the Frobenius norm
implement_nmf = NMF(n_components=num_topics,
                    random_state=1,
                    solver='mu',
                    beta_loss='frobenius')

,time_of_review,review,upvoted,time_of_review_unix,minutes_played,upvotes_window,total_window,percent_window,norm_deriv,tokenized_review
0,2015-06-02 22:29:25,"Its really good, only down side is you cant fo...",True,1.433284e+09,4578,1,1,1.0,0.0,really good side cant force feed poo people yet
1,2015-06-02 22:30:07,This game manages to make you feel all sorts o...,True,1.433284e+09,28946,2,2,1.0,0.0,game manages make feel sorts emotions short am...
2,2015-06-02 22:31:01,LOVE THIS !!!!,True,1.433284e+09,82165,3,3,1.0,0.0,love
3,2015-06-02 22:35:36,At the point of this recommendation being made...,True,1.433285e+09,664,4,4,1.0,0.0,point recommendation made ive played long easi...
4,2015-06-02 22:36:41,"""Since *that game we all know of"" vanished the...",True,1.433285e+09,43151,5,5,1.0,0.0,since *that game know vanished empty space din...

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

help(SentimentIntensityAnalyzer)

Help on class SentimentIntensityAnalyzer in module nltk.sentiment.vader:

class SentimentIntensityAnalyzer(builtins.object)
 |  SentimentIntensityAnalyzer(lexicon_file='sentiment/vader_lexicon.zip/vader_lexicon/vader_lexicon.txt')
 |
 |  Give a sentiment intensity score to sentences.
 |
 |  Methods defined here:
 |
 |  __init__(self, lexicon_file='sentiment/vader_lexicon.zip/vader_lexicon/vader_lexicon.txt')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  make_lex_dict(self)
 |      Convert lexicon file to a dictionary
 |
 |  polarity_scores(self, text)
 |      Return a float for sentiment strength based on the input text.
 |      Positive values are positive valence, negative value are negative
 |      valence.
 |
 |  score_valence(self, sentiments, text)
 |
 |  sentiment_valence(self, valence, sentitext, item, i, sentiments)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)